.update{
    font: 300 1.9vmax "Roboto";
    text-align: center;
    margin-top: 3vmax;
    
}
.UpdateBtn{
    background-color: tomato;
    text-align: center;
}
.UpdateBtn:hover{
    width: 10vmax;
}
.loginForm>a>img{
    justify-content: center;
}